# load in yaml anchors for helmfiles `Release Template` feature
{{ $gitDir := (exec "git" (list "rev-parse" "--show-toplevel") | trim) }}
{{ readFile (printf "%s/helmfile/_helper/templates.yaml" $gitDir) }}

{{ $environment := requiredEnv "ENVIRONMENT" }}
{{ $baseDomain := requiredEnv "BASE_DOMAIN" }}

releases:
  - <<: *common_releases
    values:
      - values/common.yaml
      - global:
          domain:
            baseDomain: {{ $baseDomain }}
            subdomains:
              fsaiosapp: fsaios-{{ $environment }}
              fsaiflow: fsaiflow-{{ $environment }}
              flowgen: flowgen-{{ $environment }}
              flowsee: flowsee-{{ $environment }}
          supabase:
            namespace: fsai-os
      - fsaiosapp:
          ingress:
            annotations:
              external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"
              external-dns.alpha.kubernetes.io/hostname: "fsaios-{{ $environment }}.{{ $baseDomain }}"
            tls:
              enabled: false
      - fsaiflow:
          ingress:
            annotations:
              external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"
              external-dns.alpha.kubernetes.io/hostname: "fsaiflow-{{ $environment }}.{{ $baseDomain }}"
            tls:
              enabled: false
      - flowgen:
          ingress:
            annotations:
              external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"
              external-dns.alpha.kubernetes.io/hostname: "flowgen-{{ $environment }}.{{ $baseDomain }}"
            tls:
              enabled: false
      - flowsee:
          ingress:
            annotations:
              external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"
              external-dns.alpha.kubernetes.io/hostname: "flowsee-{{ $environment }}.{{ $baseDomain }}"
            tls:
              enabled: false

