# load in yaml anchors for helmfiles `Release Template` feature
{{ $gitDir := (exec "git" (list "rev-parse" "--show-toplevel") | trim) }}
{{ readFile (printf "%s/helmfile/_helper/templates.yaml" $gitDir) }}

releases:
  - <<: *common_releases
    values:
      - values/common.yaml
  - <<: *common_namespace
    name: addon-components
    chart: ./components

