# load in yaml anchors for helmfiles `Release Template` feature
{{ $gitDir := (exec "git" (list "rev-parse" "--show-toplevel") | trim) }}
{{ readFile (printf "%s/helmfile/_helper/templates.yaml" $gitDir) }}

repositories:
  - name: cnpg
    url: https://cloudnative-pg.github.io/charts


releases:
  {{ $versionYaml := readFile "./versions.yaml" | fromYaml }}
  {{ $clusterKey := print ( requiredEnv "CLUSTER" ) ".installed"  }}
  {{ $defaultKey := print "default" ".installed" }}

  - <<: *common_releases
    installed: {{ $versionYaml | get $clusterKey ( $versionYaml | get $defaultKey ) }}
    values:
      - values/common.yaml
