{{- $valuesCommon := readFile "metadata.yaml" | fromYaml }}

manifests:
  {{ $valuesCommon.customer.name }}-apps:
    owner: {{ $valuesCommon.global.owner }}
    project: default
    namespace: {{ $valuesCommon.customer.name }}
    source:
      repoURL: {{ $valuesCommon.global.repository.url }}
      targetRevision: {{ $valuesCommon.global.repository.branch }}
    applications:
      # Platform Operators (deploy first)
      - name: {{ $valuesCommon.customer.name }}-cnpg-operator
        namespace: cnpg-system
        path:  {{ $valuesCommon.customer.name }}/cnpg-system
        spec:
          syncPolicy:
            automated: {}
            syncOptions:
              - CreateNamespace=true
              - ServerSideApply=true
      - name: {{ $valuesCommon.customer.name }}-minio-operator
        namespace: minio-system
        path:  {{ $valuesCommon.customer.name }}/minio-operator
        spec:
          syncPolicy:
            automated: {}
            syncOptions:
              - CreateNamespace=true
              - ServerSideApply=true
      # Customer Applications
      - name: {{ $valuesCommon.customer.name }}-secrets
        path:  {{ $valuesCommon.customer.name }}/secrets
        spec:
          syncPolicy:
            automated: {}
            syncOptions:
              - ServerSideApply=true
              - CreateNamespace=true
      - name: {{ $valuesCommon.customer.name }}-fsai-os
        namespace: fsai-os
        path:  {{ $valuesCommon.customer.name }}/fsai-os
        spec:
          syncPolicy:
            automated: {}
            syncOptions:
              - ServerSideApply=true
              - CreateNamespace=true
      - name: {{ $valuesCommon.customer.name }}-minio-tenant
        path:  {{ $valuesCommon.customer.name }}/minio-tenant
        spec:
          syncPolicy:
            automated: {}
            syncOptions:
              - ServerSideApply=true
      - name: {{ $valuesCommon.customer.name }}-supabase
        namespace: fsai-os
        path:  {{ $valuesCommon.customer.name }}/supabase
        spec:
          syncPolicy:
            automated: {}
            syncOptions:
              - ServerSideApply=true
              - CreateNamespace=true


