{{- $valuesCommon := readFile "metadata.yaml" | fromYaml }}

manifests:
  fsai-os-apps:
    owner: {{ $valuesCommon.global.owner }}
    project: default
    namespace: fsai-os
    source:
      repoURL: {{ $valuesCommon.global.repository.url }}
      targetRevision: {{ $valuesCommon.global.repository.branch }}
    applications:
      # Platform Operators (deploy first)
      - name: cnpg-operator
        namespace: cnpg-system
        path: test-customer/cnpg-system
        spec:
          syncPolicy:
            automated: {}
            syncOptions:
              - CreateNamespace=true
      - name: minio-operator
        namespace: minio-system
        path: test-customer/minio-operator
        spec:
          syncPolicy:
            automated: {}
            syncOptions:
              - CreateNamespace=true
      # Applications
      - name: fsai-os-secrets
        namespace: fsai-os
        path: test-customer/secrets
        spec:
          syncPolicy:
            automated: {}
            syncOptions:
              - CreateNamespace=true
      - name: fsai-os
        namespace: fsai-os
        path: test-customer/fsai-os
        spec:
          syncPolicy:
            automated: {}
            syncOptions:
              - CreateNamespace=true
      - name: minio-tenant
        namespace: minio-tenant
        path: test-customer/minio-tenant
        spec:
          syncPolicy:
            automated: {}
            syncOptions:
              - CreateNamespace=true
      - name: supabase
        namespace: fsai-os
        path: test-customer/supabase
        spec:
          syncPolicy:
            automated: {}
            syncOptions:
              - CreateNamespace=true


