{{- $valuesCommon := readFile "metadata.yaml" | fromYaml }}

manifests:
  {{ $valuesCommon.customer.name }}-apps:
    owner: {{ $valuesCommon.global.owner }}
    project: {{ $valuesCommon.customer.name }}
    namespace: {{ $valuesCommon.customer.name }}
    source:
      repoURL: {{ $valuesCommon.global.repository.url }}
      targetRevision: {{ $valuesCommon.global.repository.branch }}
    applications:
      - name: {{ $valuesCommon.customer.name }}-secrets
        path:  {{ $valuesCommon.customer.name }}/secrets
        spec:
          syncPolicy:
            automated: {}
            syncOptions:
              - ServerSideApply=true
      - name: {{ $valuesCommon.customer.name }}-fsai-os
        path:  {{ $valuesCommon.customer.name }}/fsai-os
        spec:
          syncPolicy:
            automated: {}
            syncOptions:
              - ServerSideApply=true
      - name: {{ $valuesCommon.customer.name }}-minio-tenant
        path:  {{ $valuesCommon.customer.name }}/minio-tenant
        spec:
          syncPolicy:
            automated: {}
            syncOptions:
              - ServerSideApply=true
      - name: {{ $valuesCommon.customer.name }}-supabase
        path:  {{ $valuesCommon.customer.name }}/supabase
        spec:
          syncPolicy:
            automated: {}
            syncOptions:
              - ServerSideApply=true

