{{- $valuesCommon := readFile "../metadata.yaml" | fromYaml }}

releases:
  - namespace: fsai-os
    name: secrets
    chart: ./{{ requiredEnv "ENVIRONMENT" }}
    secrets:
      - ./{{ requiredEnv "ENVIRONMENT" }}/secrets.enc.yaml

