{{- $valuesCommon := readFile "../metadata.yaml" | fromYaml }}

helmDefaults:
  helmBinary: helm-secrets

releases:
  - namespace: {{ $valuesCommon.customer.name }}
    name: secrets
    chart: ./{{ requiredEnv "ENVIRONMENT" }}
    values:
      - ./{{ requiredEnv "ENVIRONMENT" }}/secrets.enc.yaml

